#info-table {
    border: 1px solid black;
    border-collapse: collapse;
    padding-top: 50px;
}
  
#info-table td {
    height: 50px;
    width: 100px;
    padding: 10px;
    border: 3px solid black;
}

p, td, label, input {
    font-size: 20px;
}

input {
    padding: 10px;
}

label {
    padding: 25px;
}

body {
    background-color: bisque;
}

form, table {
    display: flex;
    justify-content: center;
}

